<h2>Index 페이지 </h2>
{% if messages %}
	{% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
	{% endfor %}
{% endif %}


{% if user.is_active %} 
    로그인 상태
    <p>Welcome, <b>{{ user.name }}. </b>Thanks for logging in.</p>
<li><a href="{% url 'accounts:logout' %}">  로그아웃 </a></li>
<li><a href="{% url 'accounts:profile' %}"> 개인페이지 </a></li>
<li><a href="{% url 'letter:writeToMe' %}"> 나에게 편지쓰러가기  </a></li>



  
{% else %} 
    로그아웃 상태
    <li><a href="{% url 'accounts:signup' %}">  회원가입 </a></li>
    <li><a href="{% url 'accounts:login' %}">  로그인 </a></li>
    <li><a href="{% url 'password_reset' %}"> 비밀번호 찾기 </a></li>
{% endif %}