<!DOCTYPE html>
<html>
<body>
<h2>receive letter To Me</h2>
<h3>To, morrow mesage for {{ nickname }} </h3>

<table>
<tr>
    <td>Idx</td>
    <td>Sender</td>
    <td>Contents&nbsp;&nbsp;&nbsp;</td>
    <td>SendDate</td>
</tr>
{% if messages %}
{% for message in messages %}
    <script>
        alert('{{ message }}');
    </script>
{% endfor %}
{% endif %}
{% for toMe in result %}
    <tr>
        <td onClick="location.href='/letter/receive/detail/{{ toMe.letterId }}/'">{{toMe.letterId}}&nbsp;&nbsp;&nbsp;</td>
        <td onClick="location.href='/letter/receive/detail/{{ toMe.letterId }}/'">{{toMe.senderId}}&nbsp;&nbsp;&nbsp;</td>
        <td onClick="location.href='/letter/receive/detail/{{ toMe.letterId }}/'">{{toMe.content}}&nbsp;&nbsp;&nbsp;</td>
        <td onClick="location.href='/letter/receive/detail/{{ toMe.letterId }}/'">{{toMe.sendDate | date:"Y.m.d H:i "}}</td>
        <td onClick="location.href='/letter/delreceive/{{toMe.letterId}}/'">쓰레기통</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'accounts:Index' %}"><button>메인화면</button>
</body>
</html>