{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head> 
        <style>
            @font-face {
                font-family: 'MapoFlowerIsland';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            body{ font-family:'MapoFlowerIsland' !important; }
        </style>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">  <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
        
        {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
        {% endif %}
    </head>

    <body>
        <div class="container mb-5">
            {% include "letter/navbar.html" %}
        </div>

        <div class="container-md">
            <div class="col-auto" style="overflow-y: auto; height: 70%; ">
                <br><h2>Letter I sent</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Idx</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Contents&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col">SendDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for letter in letters %}
                    <tr>
                        <td onClick="location.href='/letter/send/detail/{{ letter.letterId }}/'">{{letter.letterId}}</td>
                        <td onClick="location.href='/letter/send/detail/{{ letter.letterId }}/'">{{letter.senderId}}</td>
                        <td onClick="location.href='/letter/send/detail/{{ letter.letterId }}/'">{{letter.content}}</td>
                        <td onClick="location.href='/letter/send/detail/{{ letter.letterId }}/'">{{letter.sendDate | date:"Y.m.d H:i "}}</td>
                        <td onClick="location.href='/letter/delreceive/{{toMe.letterId}}/'"">
                            <object data="{% static 'assets/trash.svg' %}" type="image/svg+xml" style="height: 20px; width :20px;" ></object>           
                        </td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>