<!DOCTYPE html>
<html>
<body>
<h2>receive letter FROM Others</h2>


<table>
<tr>
    <td>Idx</td>
    <td>Sender</td>
    <td>Contents&nbsp;&nbsp;&nbsp;</td>
    <td>SendDate</td>
</tr>
recvLetter_result
{% for frmOthers in result %}
    <tr onclick="location.href='/letter/receive/detail/{{ frmOthers.letterId }}/'">
        <td>{{frmOthers.letterId}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{frmOthers.senderId}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{frmOthers.content}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{frmOthers.sendDate}}</td>
        <td onclick="location.href='/letter/delreceive/{{frmOthers.letterId}}/'">쓰레기통</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'accounts:Index' %}"><button>메인화면</button>
</body>
</html>