<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: sticky; top: 0">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'letter:letterFrmMe' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'letter:letterFrmOthers' %}">ReadLetter</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'letter:writeToMe' %}">WriteLetter</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="collapse navbar-collapse mx-auto order-last">
        <a class="navbar-brand mx-auto" href="{% url 'letter:letterFrmMe' %}">To, morrow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-last dual-collapse2">
        <ul class="navbar-nav ml-auto">
          {% if user.is_active %} 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            {% else %} 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:signup' %}">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

