<!DOCTYPE html>
<html>
<body>
<h2> {{ nickname}}Trash List</h2>
{% if messages %}
	{% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
	{% endfor %}
    {% endif %}
<table>
<tr>
    <td>Idx</td>
    <td>Sender</td>
    <td>Contents&nbsp;&nbsp;&nbsp;</td>
    <td>SendDate</td>
</tr>
<p>{{page}} 삭제 목록</p>
<table>
   
{% for col in result %}
    <tr onclick="location.href='/letter/{{page}}/detail/{{ col.letterId }}/'"">
        <td>{{col.letterId}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{col.senderId}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{col.content}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{col.sendDate}}</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'accounts:Index' %}"><button>메인화면</button>
</body>
</html>